.card {
	display: flex;
	overflow-x: scroll;
	overflow: hidden;
}

.card__img {
	margin-right: 10px;
	max-width: auto;
	transition: all 0.2s ease-out;
	cursor: pointer;
}

.card__img:hover {
	transform: scale(1.1);
}
