* {
	margin: 0;
	box-sizing: 0;
}

.moviePage{
	display: flex;
	flex-direction: row;
}
/* .moviePage, .movie__top-container, .movie__poster, .movie__trailer-list, .movie__trailer,
.moviePage__Trailer__video, 
.moviePage__Trailer, .content_container, 
.content__left, .content__right, .moviePage__Cast__card {
	border: 1px solid red;
} */

.movie__top-container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	flex-direction: row;
	/* object-fit: contain; */
}

.movie__poster {
	align-items: center;
}
.movie__trailer {
	display: flex;
	justify-content: center;
	object-fit: contain;
}
aside{
	display: flex;
}
.container__iframe{
	display: flex;
	gap: 10px;
}
.movie__poster img {
	height: 250px;
	width: auto;
	align-self: center;
}
.movie__trailer iframe {
	width: auto;
	justify-content: center;
	object-fit: contain;
}


.content_container, .content__container-cast {
	display: flex;
	flex-direction: row;
	margin: 10px;
}
.content__left{
	display: flex;
	flex-direction: column;
	margin: 10px;
}
.container__details-genre {
	display: flex;
	flex-direction: row;
	margin: 10px;
}
 .left__details-content  {
	display: flex;
	flex-direction: row;
	margin: 10px;
	justify-content: space-evenly;
}
.content__right {
	display: flex;
	flex-direction: column;
	margin: 10px;
}
.detailsBox__genre, h5 {
	padding-left: 5px;
}

.avatar__container{
	display: flex;
	flex-direction: column;
	padding: 10px;
	align-items: center;
}
.avatar_image {
	height: 80px;
	width: 80px;
	border-radius: 50%;
}
.avatar_image:hover {
	cursor: pointer;
	transform: scale(1.1);
	transition: transform 0.5s ease-in-out;
}

