* {
	border: 0.5px solid red;
}

.moviePage {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	gap: 10px;
	background-color: darkgrey;
}

.moviePage__details {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px;
	width: auto;
}

.moviePage__details__img {
	max-width: 20%;
	flex-flow: nowrap;
	align-items: center;
}

.Movie .infoBox__detailsBox {
	padding: 0;
	display: flex;
	justify-content: flex-start;
	gap: 1rem;
}

.infoBox__detailsBox > * {
	flex: 1;
}
